@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  background-color: #171821;
  font-family: 'Poppins', sans-serif;
  color: white;
  overflow-x: hidden;
}

/* Hide scrollbar */
body::-webkit-scrollbar{
  display: none;
}

/* Hide Plotly controls */
.modebar{
  display: none !important;
}

.is-pseudo-focused > .Select-control, .is-open > .Select-control, .Select-control {
  background-color: #171821;
  border: none;
  border-radius: 6px;
  width: 14rem;
  outline: none !important;
}

.Select-menu-outer {
  background-color: #171821;
  border: none;
  overflow: hidden;
}

.Select-menu-outer::-webkit-scrollbar{
  display: none;
}

.Select-value-label {
  color: rgba(255, 255, 255, .4) !important;
}
